# list 
- creating 
- indexing and slicing (same as string)
- methods 
- comprehension

In [2]:
a = []                                       #empty list                                    #numberical list
b = [1,2,3,4,5]                              #numerical list
c =  ['apple','banana','cherry']             #string list 
d =  ['apple',1,'banana',2,'cherry',3]       #mixed list
e = [[1,2,3],[1,5,6]]                        #list  of lists
f = [['apple',1],['banana',2],['cherry',3]]  #mixed nested lists
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
['apple', 1, 'banana', 2, 'cherry', 3]
[[1, 2, 3], [1, 5, 6]]
[['apple', 1], ['banana', 2], ['cherry', 3]]

In [4]:
for i in c:
    print(i)
for i in d:
    print(i)

apple
banana
cherry
apple
1
banana
2
cherry
3

In [10]:
g = list('hello')
h = list(range(10))
i = list((1,2,3,4,5))
j = [1]*10  # duplicated list 
k = [1,2,3]*10 
print(g)
print(h)
print(i)
print(j)
print(k)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:
movies = ['spider man ','amazing spider man','spider man far from home','spider man home coming','spider man no way home ']
print(movies)
print(len(movies))
print("first movie:",movies[0])
print("last movie:",movies[-1])
print("second movie:",movies[1])
print("third movie:",movies[2])
print("fourth movie:",movies[-2])

['spider man ', 'amazing spider man', 'spider man far from home', 'spider man home coming', 'spider man no way home ']
5
first movie: spider man
last movie: spider man no way home
second movie: amazing spider man
third movie: spider man far from home
fourth movie: spider man home coming

In [25]:
numbers = [1,2,3,4,5,6,7,8,9]
print(numbers[:3])
print(numbers[2:-2])
print(numbers[::-1])

[1, 2, 3]
[3, 4, 5, 6, 7]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

#### list have  11 menthods
- adding/updating
  - `append()`
  - `extend()`
  - `insert()`
- removing/deleting
  - `remove()`
  - `pop()`
  - `clear()`
- utility
  - `sort()`
  - `reverse()`
  - `index()`
  - `count()`
  - `copy()`

In [29]:
fav_books = []
hated_books = []
for i in range(5):
    books = input('enter the fav book ')
    fav_books .append(books)
for i in range (3):
    book = input('enter the hated book ')
    hated_books.append(book)
print("fav book:", fav_books)
print("hated book:", hated_books)

fav book: ['1', '2', '3', '4', '5']
hated book: ['5', '', '']

In [34]:
fav_books.append('6')
print(fav_books)

['1', '2', '3', '4', '5', '6', '6', '6', '6']

In [35]:
books = fav_books + hated_books
print(books)

['1', '2', '3', '4', '5', '6', '6', '6', '6', '5', '', '']

In [37]:
books.extend(['q','w','e'])
print(books)
print('total books ',len(books))

['1', '2', '3', '4', '5', '6', '6', '6', '6', '5', '', '', 'q', 'w', 'e', 'q', 'w', 'e']
total books  18

In [39]:
books.insert?

Signature: books.insert(index, object, /)
Docstring: Insert object before index.
Type:      builtin_function_or_method

In [40]:
books.insert(7,'69')
books

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '6',
 '69',
 '6',
 '6',
 '5',
 '',
 '',
 'q',
 'w',
 'e',
 'q',
 'w',
 'e',
 'd']

In [45]:
books.remove('6')

In [44]:
books.remove('6')
books

['1',
 '2',
 '3',
 '4',
 '5',
 '69',
 '6',
 '6',
 '5',
 '',
 '',
 'q',
 'w',
 'e',
 'q',
 'w',
 'e',
 'd']

In [48]:
books.pop(7)

''

In [49]:
books.pop()# remove the last element

'd'

In [51]:
hated_books.clear()
hated_books

[]

#### wap to create an empty list,then fill the list with 10 prime numbers using  a loop ,starting with 2

In [ ]:
a  = []
c = 0
p = 2
while c < 10 :
    k = 0
    for i in range (1,p+1):

In [1]:
numbers = [12,3,4,5,5,76,7,8,9]
numbers[::-1]

[9, 8, 7, 76, 5, 5, 4, 3, 12]

In [2]:
numbers = [12,3,4,5,5,76,7,8,9]
numbers.reverse()# no returning and no parameters no return  value

In [3]:
print(numbers)

[9, 8, 7, 76, 5, 5, 4, 3, 12]

In [4]:
numbers.sort()# ascending order , no return value and no parameter

In [5]:
print(numbers)

[3, 4, 5, 5, 7, 8, 9, 12, 76]

In [7]:
numbers.sort(reverse = True ) # decending  order 
print(numbers)

[76, 12, 9, 8, 7, 5, 5, 4, 3]

In [9]:
x = [[1,2],[2,5],[5,10],[4,11],[6,12]]
x.sort()
print(x)
# sort element by first number

[[1, 2], [2, 5], [4, 11], [5, 10], [6, 12]]


#### key  parameter

In [13]:
x.sort(key = lambda e : e[1])# second element sorting 
print(x)

[[1, 2], [2, 5], [5, 10], [4, 11], [6, 12]]

In [17]:
x.sort(key = lambda i : sum(i))
print(x)

[[1, 2], [2, 5], [5, 10], [4, 11], [6, 12]]

In [18]:
users = [('alice',25),('bob',19),('alex',35)]
users.sort(key = lambda i : i[1])
print(users)

[('bob', 19), ('alice', 25), ('alex', 35)]

In [21]:
cart = [['mobile',250000,2],['laptop',60000,1],['watch',497789,3],['headphones',48248,2]]
cart.sort(key = lambda i : i[2])# third value
print(cart)

[['laptop', 60000, 1], ['mobile', 250000, 2], ['headphones', 48248, 2], ['watch', 497789, 3]]

In [23]:
cart = [['mobile',250000,2],['laptop',60000,1],['watch',497789,3],['headphones',48248,2]]
cart.sort(key = lambda i : i[1]*i[2])
print(cart)

[['laptop', 60000, 1], ['headphones', 48248, 2], ['mobile', 250000, 2], ['watch', 497789, 3]]

In [26]:
a = [1,3,3,2,5,76,57,8,69,1,3,4,1,4,42,1,]
a.count(1)

4

### index

In [30]:
a.index(76) # stop for the first occurence

5

In [32]:
a = [1,2,3,4,5]
b = a.copy() # shallow copy  
c =  a       # refrence copy 
print(a)
print(b)
print(c)
a.append(6)
b.append(10)
c.append(20)
print(a)
print(b)
print(c)
print(hex(id(a)))
print(hex(id(b)))
print(hex(id(c)))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 20]
[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 6, 20]
0x21990cd9180
0x21990cd8680
0x21990cd9180

In [36]:
x = [1,2,3,4,5] 
a = list(map(lambda i:i**2,x))  
print(a)

[1, 4, 9, 16, 25]

### comprehension
- syntax
  - new_list = [operation loop(condition)]

In [37]:
x2 = [i**2 for i in x]
print(x2)

[1, 4, 9, 16, 25]

In [39]:
a = [1,2,3,4,5]
a3 = [i**3 for i in a ]
print(a)
print(a3)
a5 = [i-5 for i in a ]
print(a5)
even  = [i**2 for i in a if i % 2==0 ]
print(even)

[1, 2, 3, 4, 5]
[1, 8, 27, 64, 125]
[-4, -3, -2, -1, 0]
[4, 16]

In [45]:
# rookie way 
a = []
for i in a :
    if i % 2==0:
         a.append(i**2)

In [51]:
names = ['alice Smith','bob brown','charlie green','david white']
initials = []
for n in names :
    parts = n.split()
    initials.append(f'{parts[0][0]},{parts[-1][0]}')
print(initials)
# comprehension
initials = [f"{parts[0][0]},{parts[-1][0]} "for i in names]
print(initials)

['a,S', 'b,b', 'c,g', 'd,w']
['d,w ', 'd,w ', 'd,w ', 'd,w ']

### dictionary 
-  creation
-  traversal 
-  methods 
-  comprehension
-  sorting

Syntax
{
    key : value, 
    key : value, 
    key : value, 
}
key should always be unique
key should not be duplicate and if we use then last wali value will over right the first value 
keys are immutable

In [2]:
fruits = {
    'apple' :  'red',
    'banana': 'yellow',
    'cherry': 'red',
    'orange': 'orange',
}
print(fruits)

{'apple': 'red', 'banana': 'yellow', 'cherry': 'red', 'orange': 'orange'}

In [3]:
temp = {
    'lucknow':[20,30,40],
    'delhi':[20,4,86],
    'chennai':[60,70,80],
}
print(temp)

{'lucknow': [20, 30, 40], 'delhi': [20, 4, 86], 'chennai': [60, 70, 80]}

In [7]:
dict()

{}

In [11]:
dict(name = 'avi', age = 21, marks = [99,99,99])

{'name': 'avi', 'age': 21, 'marks': [99, 99, 99]}

In [13]:
# nested dictionary 
report = {
    'alex': {
        'english':85,
        'math': 90,
        'science':88,
    },
    'rahul':{
        'english':80,
        'math': 90,
        'science':88,
    },  
}
print(report)

{'alex': {'english': 85, 'math': 90, 'science': 88}, 'rahul': {'english': 80, 'math': 90, 'science': 88}}

In [14]:
from pprint import pp # pretty print

In [15]:
pp(report)

{'alex': {'english': 85, 'math': 90, 'science': 88},
 'rahul': {'english': 80, 'math': 90, 'science': 88}}

In [18]:
fruits['banana']

'yellow'

In [19]:
report['alex']

{'english': 85, 'math': 90, 'science': 88}

In [20]:
temp['lucknow']

[20, 30, 40]

In [22]:
report['alex']['math']

90

In [24]:
print(temp['delhi'][0])
print('avg temp of delhi',sum(temp['delhi'])/len(temp['delhi']))

20
avg temp of delhi 36.666666666666664

In [25]:
# all keys of the dictionary
print(fruits.keys())
print(temp.keys())

dict_keys(['apple', 'banana', 'cherry', 'orange'])
dict_keys(['lucknow', 'delhi', 'chennai'])

In [27]:
fruits_name = list(fruits.keys())
print(fruits_name)

['apple', 'banana', 'cherry', 'orange']

In [28]:
# all value in dictionary 
print(fruits.values())
print(temp.values())
print(report.values())

dict_values(['red', 'yellow', 'red', 'orange'])
dict_values([[20, 30, 40], [20, 4, 86], [60, 70, 80]])
dict_values([{'english': 85, 'math': 90, 'science': 88}, {'english': 80, 'math': 90, 'science': 88}])

In [30]:
# traversal through keys
for item in fruits :
    print(item)

apple
banana
cherry
orange

In [34]:
# access values uusing keys
for key in fruits:
    print(key, fruits[key])

apple red
banana yellow
cherry red
orange orange

In [36]:
# traversal using .item()method
for k,v in fruits.items():
    print(k,v)

apple red
banana yellow
cherry red
orange orange

In [37]:
# traversal only values
for v in fruits.values():
    print(v)

red
yellow
red
orange

In [40]:
# total marks for all student
for student , marks in report.items():
    print(student)
    for subject, mark in marks.items():
        print(subject,mark)
    print("total marks", sum(marks.values()))

alex
english 85
math 90
science 88
total marks 263
rahul
english 80
math 90
science 88
total marks 258

In [41]:
# there is no method to add a single value to a dictionary (just a simple assingment)
fruits ['mango']= 'yellow' # add
fruits ['grapes']= 'green' # add
fruits ['apples']= 'red' # add
pp(fruits)

{'apple': 'red',
 'banana': 'yellow',
 'cherry': 'red',
 'orange': 'orange',
 'mango': 'yellow',
 'grapes': 'green',
 'apples': 'red'}

In [42]:
# adding small dictionary to a big dictionsry 
dry_fruits = {'date': 'brown' ,'almond':'brown'}
fruits.update(dry_fruits)
pp(fruits)

{'apple': 'red',
 'banana': 'yellow',
 'cherry': 'red',
 'orange': 'orange',
 'mango': 'yellow',
 'grapes': 'green',
 'apples': 'red',
 'date': 'brown',
 'almond': 'brown'}

In [43]:
# get method --> error free way to access dictionary values
# fruits['raisin'] # error if key not present
print(fruits.get('raisin'))
print(fruits.get('date'))
print(fruits.get('Date'))
print(fruits.get('apple','no value found'))
print(fruits.get('gauva','no value found'))

None
brown
None
red
no value found

In [44]:
# to remove the data 
fruits.pop('banana') #  remove by key
pp(fruits)

{'apple': 'red',
 'cherry': 'red',
 'orange': 'orange',
 'mango': 'yellow',
 'grapes': 'green',
 'apples': 'red',
 'date': 'brown',
 'almond': 'brown'}

In [45]:
# sorting on keys 
sorted (fruits.items())

[('almond', 'brown'),
 ('apple', 'red'),
 ('apples', 'red'),
 ('cherry', 'red'),
 ('date', 'brown'),
 ('grapes', 'green'),
 ('mango', 'yellow'),
 ('orange', 'orange')]

In [46]:
sorted (fruits.items(),key = lambda i:i[1])

[('date', 'brown'),
 ('almond', 'brown'),
 ('grapes', 'green'),
 ('orange', 'orange'),
 ('apple', 'red'),
 ('cherry', 'red'),
 ('apples', 'red'),
 ('mango', 'yellow')]

In [48]:
dict(sorted (fruits.items(),key = lambda i:i[1]))

{'date': 'brown',
 'almond': 'brown',
 'grapes': 'green',
 'orange': 'orange',
 'apple': 'red',
 'cherry': 'red',
 'apples': 'red',
 'mango': 'yellow'}

In [49]:
dict(sorted (fruits.items(),key = lambda i:i[1], reverse = True))

{'mango': 'yellow',
 'apple': 'red',
 'cherry': 'red',
 'apples': 'red',
 'orange': 'orange',
 'grapes': 'green',
 'date': 'brown',
 'almond': 'brown'}

In [51]:
fruits

{'apple': 'red',
 'cherry': 'red',
 'orange': 'orange',
 'mango': 'yellow',
 'grapes': 'green',
 'apples': 'red',
 'date': 'brown',
 'almond': 'brown'}

In [52]:
clean_fruits= {}
for k,v in fruits.items():
    clean_fruits[k.lower()] = v.upper()
pp(clean_fruits)

{'apple': 'RED',
 'cherry': 'RED',
 'orange': 'ORANGE',
 'mango': 'YELLOW',
 'grapes': 'GREEN',
 'apples': 'RED',
 'date': 'BROWN',
 'almond': 'BROWN'}

In [54]:
# the comprehension way
clean_fruits = {k.lower():v.upper()for k,v in fruits.items()}
pp(clean_fruits)

{'apple': 'RED',
 'cherry': 'RED',
 'orange': 'ORANGE',
 'mango': 'YELLOW',
 'grapes': 'GREEN',
 'apples': 'RED',
 'date': 'BROWN',
 'almond': 'BROWN'}

In [56]:
avg_temp = {city : sum(data)/len(data) for city , data in temp.items()}
pp(avg_temp)

{'lucknow': 30.0, 'delhi': 36.666666666666664, 'chennai': 70.0}