# list 
- creating 
- indexing and slicing (same as string)
- methods 
- comprehension

In [2]:
a = []                                       #empty list                                    #numberical list
b = [1,2,3,4,5]                              #numerical list
c =  ['apple','banana','cherry']             #string list 
d =  ['apple',1,'banana',2,'cherry',3]       #mixed list
e = [[1,2,3],[1,5,6]]                        #list  of lists
f = [['apple',1],['banana',2],['cherry',3]]  #mixed nested lists
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

[]
[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
['apple', 1, 'banana', 2, 'cherry', 3]
[[1, 2, 3], [1, 5, 6]]
[['apple', 1], ['banana', 2], ['cherry', 3]]

In [4]:
for i in c:
    print(i)
for i in d:
    print(i)

apple
banana
cherry
apple
1
banana
2
cherry
3

In [10]:
g = list('hello')
h = list(range(10))
i = list((1,2,3,4,5))
j = [1]*10  # duplicated list 
k = [1,2,3]*10 
print(g)
print(h)
print(i)
print(j)
print(k)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [13]:
movies = ['spider man ','amazing spider man','spider man far from home','spider man home coming','spider man no way home ']
print(movies)
print(len(movies))
print("first movie:",movies[0])
print("last movie:",movies[-1])
print("second movie:",movies[1])
print("third movie:",movies[2])
print("fourth movie:",movies[-2])

['spider man ', 'amazing spider man', 'spider man far from home', 'spider man home coming', 'spider man no way home ']
5
first movie: spider man
last movie: spider man no way home
second movie: amazing spider man
third movie: spider man far from home
fourth movie: spider man home coming

In [25]:
numbers = [1,2,3,4,5,6,7,8,9]
print(numbers[:3])
print(numbers[2:-2])
print(numbers[::-1])

[1, 2, 3]
[3, 4, 5, 6, 7]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

#### list have  11 menthods
- adding/updating
  - `append()`
  - `extend()`
  - `insert()`
- removing/deleting
  - `remove()`
  - `pop()`
  - `clear()`
- utility
  - `sort()`
  - `reverse()`
  - `index()`
  - `count()`
  - `copy()`

In [29]:
fav_books = []
hated_books = []
for i in range(5):
    books = input('enter the fav book ')
    fav_books .append(books)
for i in range (3):
    book = input('enter the hated book ')
    hated_books.append(book)
print("fav book:", fav_books)
print("hated book:", hated_books)

fav book: ['1', '2', '3', '4', '5']
hated book: ['5', '', '']

In [34]:
fav_books.append('6')
print(fav_books)

['1', '2', '3', '4', '5', '6', '6', '6', '6']

In [35]:
books = fav_books + hated_books
print(books)

['1', '2', '3', '4', '5', '6', '6', '6', '6', '5', '', '']

In [37]:
books.extend(['q','w','e'])
print(books)
print('total books ',len(books))

['1', '2', '3', '4', '5', '6', '6', '6', '6', '5', '', '', 'q', 'w', 'e', 'q', 'w', 'e']
total books  18

In [39]:
books.insert?

Signature: books.insert(index, object, /)
Docstring: Insert object before index.
Type:      builtin_function_or_method

In [40]:
books.insert(7,'69')
books

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '6',
 '69',
 '6',
 '6',
 '5',
 '',
 '',
 'q',
 'w',
 'e',
 'q',
 'w',
 'e',
 'd']

In [45]:
books.remove('6')

In [44]:
books.remove('6')
books

['1',
 '2',
 '3',
 '4',
 '5',
 '69',
 '6',
 '6',
 '5',
 '',
 '',
 'q',
 'w',
 'e',
 'q',
 'w',
 'e',
 'd']

In [48]:
books.pop(7)

''

In [49]:
books.pop()# remove the last element

'd'

In [51]:
hated_books.clear()
hated_books

[]

#### wap to create an empty list,then fill the list with 10 prime numbers using  a loop ,starting with 2

In [ ]:
a  = []
c = 0
p = 2
while c < 10 :
    k = 0
    for i in range (1,p+1):

In [1]:
numbers = [12,3,4,5,5,76,7,8,9]
numbers[::-1]

[9, 8, 7, 76, 5, 5, 4, 3, 12]

In [2]:
numbers = [12,3,4,5,5,76,7,8,9]
numbers.reverse()# no returning and no parameters no return  value

In [3]:
print(numbers)

[9, 8, 7, 76, 5, 5, 4, 3, 12]

In [4]:
numbers.sort()# ascending order , no return value and no parameter

In [5]:
print(numbers)

[3, 4, 5, 5, 7, 8, 9, 12, 76]

In [7]:
numbers.sort(reverse = True ) # decending  order 
print(numbers)

[76, 12, 9, 8, 7, 5, 5, 4, 3]

In [9]:
x = [[1,2],[2,5],[5,10],[4,11],[6,12]]
x.sort()
print(x)
# sort element by first number

[[1, 2], [2, 5], [4, 11], [5, 10], [6, 12]]


#### key  parameter

In [13]:
x.sort(key = lambda e : e[1])# second element sorting 
print(x)

[[1, 2], [2, 5], [5, 10], [4, 11], [6, 12]]

In [17]:
x.sort(key = lambda i : sum(i))
print(x)

[[1, 2], [2, 5], [5, 10], [4, 11], [6, 12]]

In [18]:
users = [('alice',25),('bob',19),('alex',35)]
users.sort(key = lambda i : i[1])
print(users)

[('bob', 19), ('alice', 25), ('alex', 35)]

In [21]:
cart = [['mobile',250000,2],['laptop',60000,1],['watch',497789,3],['headphones',48248,2]]
cart.sort(key = lambda i : i[2])# third value
print(cart)

[['laptop', 60000, 1], ['mobile', 250000, 2], ['headphones', 48248, 2], ['watch', 497789, 3]]

In [23]:
cart = [['mobile',250000,2],['laptop',60000,1],['watch',497789,3],['headphones',48248,2]]
cart.sort(key = lambda i : i[1]*i[2])
print(cart)

[['laptop', 60000, 1], ['headphones', 48248, 2], ['mobile', 250000, 2], ['watch', 497789, 3]]

In [26]:
a = [1,3,3,2,5,76,57,8,69,1,3,4,1,4,42,1,]
a.count(1)

4

### index

In [30]:
a.index(76) # stop for the first occurence

5

In [32]:
a = [1,2,3,4,5]
b = a.copy() # shallow copy  
c =  a       # refrence copy 
print(a)
print(b)
print(c)
a.append(6)
b.append(10)
c.append(20)
print(a)
print(b)
print(c)
print(hex(id(a)))
print(hex(id(b)))
print(hex(id(c)))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 20]
[1, 2, 3, 4, 5, 10]
[1, 2, 3, 4, 5, 6, 20]
0x21990cd9180
0x21990cd8680
0x21990cd9180

In [36]:
x = [1,2,3,4,5] 
a = list(map(lambda i:i**2,x))  
print(a)

[1, 4, 9, 16, 25]

### comprehension
- syntax
  - new_list = [operation loop(condition)]

In [37]:
x2 = [i**2 for i in x]
print(x2)

[1, 4, 9, 16, 25]

In [39]:
a = [1,2,3,4,5]
a3 = [i**3 for i in a ]
print(a)
print(a3)
a5 = [i-5 for i in a ]
print(a5)
even  = [i**2 for i in a if i % 2==0 ]
print(even)

[1, 2, 3, 4, 5]
[1, 8, 27, 64, 125]
[-4, -3, -2, -1, 0]
[4, 16]

In [45]:
# rookie way 
a = []
for i in a :
    if i % 2==0:
         a.append(i**2)

In [51]:
names = ['alice Smith','bob brown','charlie green','david white']
initials = []
for n in names :
    parts = n.split()
    initials.append(f'{parts[0][0]},{parts[-1][0]}')
print(initials)
# comprehension
initials = [f"{parts[0][0]},{parts[-1][0]} "for i in names]
print(initials)

['a,S', 'b,b', 'c,g', 'd,w']
['d,w ', 'd,w ', 'd,w ', 'd,w ']