# programming flow
- conditional flow 
   - if
   - if else 
   - if elif else
   - match case
- iterative flow 
   - for loop
   - while loop

In [1]:
if 'hello':
    print('hello everyone')

hello everyone

In [2]:
x ='hello'
if len(x)>= 5:
    print('hello everyone')

hello everyone

In [8]:
a = int(input("enter a number"))
if a * 2 > 100 :
    print('a * 2 is greater than 100')
if a + 50 > 100 :
    print('a + 50 is greater than 100')

In [11]:
x = int (input('enter a number'))
if x % 2 == 0:
    print('x is even')
else :    
    print('x is odd')

x is even

wap to find out the total salary of the empployee based on the following data
``` 
salary : user inputted 
hra = 5%
da = 3.3%
ta = 2.61%
```
`total = salary + da + ta + hra`
 
*rule* 
`if hra is less than 1000 then dont add hra to tatal`

In [1]:
salary = int (input("enter the salary of the employee"))
hra= salary*0.05
da=salary*0.033
ta=0.0261*salary
if hra<1000 :
    total=salary+da+ta
else :
      total=salary+da+ta+hra
print("THE TOTAL SALARY IS =",total)

THE TOTAL SALARY IS = 2736885.0333000002

In [3]:
name = input ("which movie you watched")
num = int(input('enter the movie rating'))
print(f"movie :{name}")
if num == 1: 
    print('⭐(terrile)')
elif num == 2:
    print('⭐⭐(bad)')
elif num == 3:
    print('⭐⭐⭐(average)')
elif num == 4:
    print('⭐⭐⭐⭐(good)')
elif num == 5:
    print('⭐⭐⭐⭐⭐(excellent)')
else :
    print('invalid')

movie :geek girl
⭐⭐⭐⭐(good)

In [6]:
name = input ("which movie you watched")
num_str = (input('enter the movie rating'))
if num_str.isnumeric():
    num= int(num_str)
    print(f"movie :{name}")
    if num == 1: 
        print('⭐(terrile)')
    elif num == 2:
        print('⭐⭐(bad)')
    elif num == 3:
        print('⭐⭐⭐(average)')
    elif num == 4:
        print('⭐⭐⭐⭐(good)')
    elif num == 5:
        print('⭐⭐⭐⭐⭐(excellent)')
    else :
        print('invalid')
else :
    print('you are stupid, just watch the movie')

movie :geek girl
⭐⭐⭐⭐(good)

### match case

In [8]:
day = input('enter a day of the week ')
match day :
    case 'monday':
        print('class will happen')
    case 'tuesday':
        print('class will happen')
    case 'thursday':
        print('class will not happen')
    case 'sunday':
        print('holiday')

class will happen

In [10]:
# another alternative
day = input('enter a day of the week ')
match day :
    case 'monday'|'tuesday'|'wednesday'|'friday':
        print('class will happen')
    case 'thursday':
        print('class will not happen')
    case 'sunday'|'saturday':
        print('holiday')
    case_: # default case
        print('ivalid choice')

In [12]:
x = int (input('enter the number '))
print("above 100") if x > 100 else print ("below 100")

above 100

#### for loop 

- step base
- traversal #for data atraction
``` 
for variable in iterable:
    statement...
```    
#### while loop 

- conditional based

In [14]:
for v in 'hellooo':
    print(v)

h
e
l
l
o
o
o

In [15]:
colour = ['red','blue','green']
for i  in colour:
    print(i)

red
blue
green

In [16]:
# index and value 
for i , v in enumerate(colour):
    print(i,v)

0 red
1 blue
2 green

In [2]:
numlist = [12,42,54,53,6,4,43,65]
for num in numlist:
    print(f'{num:10} => {num *10}')

        12 => 120
        42 => 420
        54 => 540
        53 => 530
         6 => 60
         4 => 40
        43 => 430
        65 => 650

In [3]:
for i in range(1,12): #  range(a,b,c)  starts with a update of c
    print(f'{13}*{i}={num*i}')

13*1=65
13*2=130
13*3=195
13*4=260
13*5=325
13*6=390
13*7=455
13*8=520
13*9=585
13*10=650
13*11=715

In [5]:
for i in range(1,101,2):
 print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [6]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [9]:
nmlist={56,53,35,3,535,3,5,3}
for num in nmlist:
     print(f'{num:<5} => {num*10:5}')

35    =>   350
3     =>    30
5     =>    50
53    =>   530
535   =>  5350
56    =>   560

In [28]:
for i in range(1,11):
    for j in range (1,4):
        print (j, end=" ")
    print()

1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3
1 2 3

In [32]:
cdata = [ [1, 'avi',25],
         [2,'ayush',22],
         [3,'div',24]
         ]
for r in cdata :
    for j in r :
        print(j , end=" ")
    print()

1 avi 25
2 ayush 22
3 div 24

In [45]:
more_data = [ [[21,12,2,],[32,54,53],[32,75,97]],
             [[56,64,76,],[86,87,46]]]
for i in more_data :
    for j in i :
        for k in j:
           print(k , end="⭐")
        print()  
    print()

21⭐12⭐2⭐
32⭐54⭐53⭐
32⭐75⭐97⭐

56⭐64⭐76⭐
86⭐87⭐46⭐

In [46]:
x = [1,3,2,453,64,7,-1,33,4,2]
for i in x :
    if i < 0:
        break
    print(i)
print('loop completed')

1
3
2
453
64
7
loop completed

In [51]:
data = [1,2,4,2,5,'4',5,78,'8','96',66]
for i in data :
    if isinstance(i,str):
        continue
    print(i, end =' ')

#############alternative##############
print('\nalternative way')
for i in data :
    if isinstance(i , int):
        print(i, end = " ")

1 2 4 2 5 5 78 66
alternative way
1 2 4 2 5 5 78 66

In [57]:
data = [1,3,4,5,6,3,4,5,6,78,8,]
stop_value= int(input("enter the number to stop"))
counter = 0
for i in data :
    if stop_value == i :
        break 
    print(i)
    counter += 1
print(f'count : {counter}')
if counter == len(data):
    print("loop completed ")

1
3
4
5
6
3
4
5
6
78
8
count : 11
loop completed

In [60]:
data = [1,3,4,5,6,3,4,5,6,78,8,]
stop_value= int(input("enter the number to stop"))
counter = 0
for i in data :
    if stop_value == i :
        print(f'loop stopped at {i}')
        break 
    print(i)
else:
    print("loop completed ")

1
3
4
loop stopped at 5

### while loop

In [4]:
i = 10 
while i > 0 :
    print(i)
    i -=1

10
9
8
7
6
5
4
3
2
1

In [17]:
# sum 0f all digits
a = int(input("enter a number "))
s = 0
while (a!=0):
  s = s + a % 10  
  a = a // 10
print (s)

6

In [18]:
print = ('hi')
sum = 20
del sum # delete the variable sum since it is already a method 
del print # delete the varaiable print since it is already a method