# string
- creating 
- indexing and slicing
- menthods
- tips and tricks

In [4]:
a = "apple"
b = 'apple'
c = '''this is 
very usefull
for mutli line messsage
'''
d = str(342347)

In [8]:
# type of strings 
# f-string
x=  f'{a} is a fruit'
print(x)
# raw string
add = r'c:\users\zaid\desktop'
print (add)
# unicode string 
uni = u'hello'
print(uni)
# byte string (to store data)
byt = b'hello'
print(byt)

apple is a fruit
c:\users\zaid\desktop
hello
b'hello'

In [10]:
v = 'encyclopedia'
print (v[0])# first index
print (v[1])# second index
print (v[6])# seventh index
print(v[-1]) #last index
print(v[-12]) #first index

e
n
o
a
e

# the most important

for more data we need to  take full data or less data for data selection that is known as 
##### slicing

## slicing in python
```

x=[start : stop ]

```

In [4]:
a = 'encylcopedia'
print(len(a))
print(a[2:8])

12
cylcop

In [10]:
name = 'vijay deenanath chauchan '
firstname = name[0:5]
middlename = name[6:15]
lastname = name[16:24]
print (firstname)
print (middlename)
print (lastname)

vijay
deenanath
chauchan

In [11]:
name[:5]

'vijay'

In [14]:
name[6:]

'deenanath chauchan '

In [15]:
msg = 'journey before destination'
msg [-11:]

'destination'

In [41]:
msg = 'once upon a time , there was a place called eternia'
msg[:16]

'once upon a time'

In [26]:
amt = "$800999"
print(amt[:1])
a = int(amt[1:7])
print(a)
type (a)

$
800999

int

In [27]:
msg[::2]# every second character print kar raha or 
        # every even index

'oc pnatm  hr a'

In [38]:
msg[1::2]

'neuo  ie hr a  lc aldeena'

In [39]:
# most op thing  in slicing 
msg[::-1] # reverse the string

' ainrete dellac ecalp a saw ereht ,emit a nopu ecno'

In [43]:
msg[::-1][:5]# reverse ka 0 to 5 index

'ainre'

In [46]:
name [6:15][::-1]

'htananeed'

## string  methods 
- formating
- validation
- find & replace
- etc.

In [64]:
quote = 'all the glitter is not Goldüíõ'
quote_upper = quote.upper()
print(quote_upper)
print(quote)
quote_lower = quote.lower()
print(quote_lower)
quote_capitalize = quote.capitalize()
print(quote_capitalize)
quote_title = quote.title()
print(quote_title)
quote_casefold = quote.casefold()
print(quote_casefold)
quote_swapcase = quote.swapcase()
print(quote_swapcase)
quote_rjust = quote.rjust(50,'üíõ')
print(quote_rjust)

ALL THE GLITTER IS NOT GOLDüíõ
all the glitter is not Goldüíõ
all the glitter is not goldüíõ
All the glitter is not goldüíõ
All The Glitter Is Not Goldüíõ
all the glitter is not goldüíõ
ALL THE GLITTER IS NOT gOLDüíõ
üíõüíõüíõüíõüíõüíõüíõüíõüíõüíõüíõüíõüíõüíõüíõüíõüíõüíõüíõüíõüíõüíõall the glitter is not Goldüíõ

In [58]:
quote.rjust?

Signature: quote.rjust(width, fillchar=' ', /)
Docstring:
Return a right-justified string of length width.

Padding is done using the specified fill character (default is a space).
Type:      builtin_function_or_method

In [59]:
quote.ljust?

Signature: quote.ljust(width, fillchar=' ', /)
Docstring:
Return a left-justified string of length width.

Padding is done using the specified fill character (default is a space).
Type:      builtin_function_or_method

In [66]:
quote.center(50,'*')

'***********all the glitter is not Goldüíõ***********'

In [67]:
name.isnumeric()

False

In [69]:
fname = input('enter the name :(dont use the numbers)')
if fname.isalpha():
    print('valid name , very good')
    print(fname)
else:
    print('what kind of name is this?')
    print(fname)

valid name , very good
avichalsaxena

In [73]:
# find and index methods for searching in the strings 
msg.find('place') # returns the index of the first occurence of the substring

31

In [80]:
data = '''roshar is a place of magic and wonder, 
place of knights and kings .
its a place of highstorms and shardblades'''
print(data.find('place'))
print(data.find('place',13))
print(data.find('place',41))
print(data.find('Place'))
print(data.lower().find('place'))
#reverse find
print(data.rfind('place'))

12
40
76
-1
12
76

In [83]:
#replace method
data.replace('place','world')

'roshar is a world of magic and wonder, \nworld of knights and kings .\n its a world of highstorms and shardblades'

In [85]:
data.replace('o','‚ù§Ô∏è')

'r‚ù§Ô∏èshar is a place ‚ù§Ô∏èf magic and w‚ù§Ô∏ènder, \nplace ‚ù§Ô∏èf knights and kings .\n its a place ‚ù§Ô∏èf highst‚ù§Ô∏èrms and shardblades'

In [86]:
data.replace('i','e').replace('k','c').replace('a','b')

'roshbr es b plbce of mbgec bnd wonder, \nplbce of cneghts bnd cengs .\n ets b plbce of heghstorms bnd shbrdblbdes'

In [87]:
data.replace(' ','_')

'roshar_is_a_place_of_magic_and_wonder,_\nplace_of_knights_and_kings_.\n_its_a_place_of_highstorms_and_shardblades'

In [89]:
print(data.replace(' ','_',3))

roshar_is_a_place of magic and wonder,
place of knights and kings .
 its a place of highstorms and shardblades

##  split and join

In [1]:
fruits = input("enter the  fruits")
print (len(fruits))
print(fruits)
fruitlist = fruits.split()
print(fruitlist)

24
apple banana watermelon
['apple', 'banana', 'watermelon']

In [6]:
'avichal saxena'.split()

['avichal', 'saxena']

In [58]:
quote = 'life before death, strenght before weakness, journey before destination'
quote.split(',')

['life before death',
 ' strenght before weakness',
 ' journey before destination']

In [9]:
quote.split('before')

['life ', ' death, strenght ', ' weakness, journey ', ' destination']

In [11]:
poem = '''johnny johnny , yes papa
eating sugar ? no papa 
telling lies? no papa 
open your mouth , hahaha'''
poem.splitlines()

['johnny johnny , yes papa',
 'eating sugar ? no papa ',
 'telling lies? no papa ',
 'open your mouth , hahaha']

### join function is use to join the or convert the list into string

In [12]:
addr = ['c:','users','avichal','desktop','file.txt']
'/'.join(addr)

'c:/users/avichal/desktop/file.txt'

In [15]:
data = input ("enter the name , month and year of birth seperated by comma:")
words = data.split(',')
print(words)
name = '_'.join(words)
print (f'img_{name}.jpg')

['avichal', ' june', '2003']
img_avichal_ june_2003.jpg

In [16]:
str = input("enter the name")
print (str)

avichal

In [17]:
string = input('enter the name ')
print(len(string))

7

In [23]:
slicing = "python is great"
slicing[10:15]

'great'

In [26]:
string = "python is everthing"
first = string[:6]
middle= string[7:9]
last= string[10:19]
print(first)
print(middle)
print(last)

python
is
everthing

In [28]:
string = "hello world"
string[::-1]

'dlrow olleh'

In [29]:
string = "how are you?"
string.upper()

'HOW ARE YOU?'

In [30]:
string = "How  Is It Going?"
string.lower()

'how  is it going?'

In [33]:
word = ['python', 'is','easy','to','learn']
" ".join(word)

'python is easy to learn'

In [46]:
"to move to newline '\n' is used"

"to move to newline '\n' is used"

In [38]:
data = '''roshar is a place of magic and wonder, 
place of knights and kings .
its a place of highstorms and shardblades'''
print(data)

roshar is a place of magic and wonder,
place of knights and kings .
its a place of highstorms and shardblades

### count method - tell u the number of time it appeard

In [48]:
n = quote.count('before')
print (n)

3

In [49]:
n = quote.count('before')
print (f'before occurs {n} times in the quotes')

before occurs 3 times in the quotes

### starts with or ends with

In [50]:
"mr bean". startswith('mr')

True

In [51]:
"mr bean". startswith('bean')

False

In [55]:
name = input('enter the name ')
if name.startswith('MR'):
    print('hello sir')
else :
    print(f'fuck off {name}')

fuck off krish

In [56]:
filename = input('enter the name')
print(f'filename:{filename}')
if filename.endswith('.csv'):
    print('dataset file')
elif filename.endswith('.txt'):
    print('text file')
elif filename.endswith('.jpg'):
    print('image file')
else:
    print("no extension provied")

filename:avichal.txt
text file

In [62]:
# strip remove the extra space 
movie = input('enter movie name:')
clean_movie= movie.strip()
print(movie)
print(clean_movie)
print(f'movie:{len(movie)}')
print(f'chars in movie name:{len(movie)}')

   batman
batman
movie:11
chars in movie name:11

In [68]:
'  hello  '.strip()

'hello'

In [71]:
print(',,,hello****'.strip(',*'))

hello

In [1]:
x = 15
print(f'the variable is {x}')

the variable is 15

In [3]:
s1 = 'python '
s2 = 'is '
s3 = 'great '
r = s1 + s2 + s3
print(r)

python is great

In [4]:
print('#'* 20)

####################

In [10]:
for i in range (1,10):
    print(f'{i}.')

1.
2.
3.
4.
5.
6.
7.
8.
9.

In [12]:
word = input('enter the statement')
s = word.split()
print(s)
for s in  s:
    print(s)

['avichal', 'is', 'my', 'name']
avichal
is
my
name

In [19]:
string = "people call me by the nick name avi"
string.endswith('avi')

True

In [21]:
a = input('enter the statement')
a.count('e')

2

In [23]:
user_input = input("Enter something: ")
if user_input.isdigit():
    print("The input is a number.")
else:
    print("The input is not a number.")

The input is a number.

In [24]:
text = '   this is not a good string   '
text.strip()

'this is not a good string'

In [27]:
user_input = input("Enter a string: ")
if user_input.isupper():
    print("Found")
else:
    print("Not found")

Found

In [28]:
names = 'Joe, David, Mark, Tom, Chris, Robert'
names_list = names.split(', ')
print(names_list)

['Joe', 'David', 'Mark', 'Tom', 'Chris', 'Robert']

In [31]:
user_input = input("Enter a string: ")

if 'fyi' in user_input:
    print("The string contains 'fyi'.")
else:
    print("The string does not contain 'fyi'.")

The string contains 'fyi'.